<div id="statement">
  <h2 class="cufon_museo_slab">The Continental Shelf Program follows the world’s costal states in establishing the limits of their maritime jurisdiction</h2>
</div> <!-- End statement -->

<div id="search">
  <div id="top"></div>
  <div id="middle">
  <div class="left">
    <h4 class="cufon_museo_slab">SEARCH SUBMISSIONS BY COUNTRY / STATE</h4>
    <form action="/explore" method="get">
      <input type="text" value="Enter query" name="country_or_state" maxlength="50" onclick="this.value=''"/>
      <input type="submit" value="Search" />
    </form>
    <p>ie. <a href="">Spain</a>, <a href="">México</a> or <a href="">United States</a></p>
  </div>
  <div class="right">
    <h4 class="cufon_museo_slab">EXPLORE THE WORLD’S COASTAL STATES</h4>
    <a href="/explore" class="explore">Explore the world</a>
  </div>
  </div>
  <div id="bottom"></div>
</div> <!-- End search -->

<div id="meaning">
  <div id="left">
    <p class="cufon_museo_slab">The aim is to assist developing states in establishing the outer limits of their continental shelves through submissions</p>
  </div>
  <div id="right">
    <p class="cufon_museo_slab">This will lead to the wise use of ocean resources and help the establishment of marine protected areas</p>
  </div>
</div> <!-- End meaning -->

<div id="aggregators">
  <% if(@blog_posts) %>
  <div id="left">
    <p class="cufon_museo_slab section">FROM THE BLOG</p>
    <ul>
      <% @blog_posts.each do |post| %>
      <li>
        <p class="date"><%= time_ago_in_words(post.published_at) %> ago</p>
        <!-- <p class="date"><%= post.published_at.strftime("%d/%m/%Y") %></p> -->
        <p class="cufon_museo_sans title"><%= link_to post.title, blog_post_url(post) %></p>
        <p class="description">
          <%= truncate(strip_tags(post.body),
          :omission => raw("... <a href=\"#{blog_post_url(post)}\">Read more</a>"),
          :length => 250,
          :preserve_html_tags => true) %>
        </p>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <% if(@last_event) %>
  <div id="right">
    <p class="cufon_museo_slab section">NEXT EVENT</p>
    <p class="date">
    <%= @last_event.from.strftime("#{to_ordinal(@last_event.from.day)}, %B, %Y")%> <%= raw("&#8594; #{@last_event.to.strftime("#{to_ordinal(@last_event.to.day)}, %B, %Y")}") unless @last_event.one_day_event? %></p>
    <p class="cufon_museo_sans title"><%= @last_event.title %></p>
    <p class="location"><%= @last_event.location %></p>
    <p class="more"><a href="/events">More</a></p>
  </div>
  <% end %>

</div> <!-- End extras -->