<span id="latitude" class="hidden">40</span>
<span id="longitude" class="hidden">-3</span>

<% content_for :body_content_left do %>
  <div class="body_content_left">
    <div class="event_content">
      <div class="head_event">
        <div class="top"></div>
        <div class="middle">
          <p class="back"><a href="<%= events_path %>">View events list</a></p>

              <div class="left">
                <p class="day"><%=@event.from.strftime("%d")%></p>
                <p class="month"><%=@event.from.strftime("%b").upcase %></p>
              </div>

          <div class="right">
            <h1><%= @event.title %></h1>
            <p class="location"><%= @event.location %> | <%=@event.from.strftime("#{to_ordinal(@event.from.day)} %b")%> <%= raw("&#8594; #{@event.to.strftime("#{to_ordinal(@event.to.day)} %b")}") unless @event.one_day_event? %></p>
          </div>
          <span class="line"></span>
        </div>
      </div>
      <div class="middle_white resume">
        <%= raw @event.description %>
        <% if @event.url? %>
        <a class="visit" href="<%= @event.url %>" rel="nofollow">Visit official website</a>
        <% end -%>
        <span class="line"></span>
      </div>
      <% unless @event.similar(:limit => 3).empty? %>
      <div class="middle_white events">
        <h6>Events in similar dates</h6>
        <ul>
          <% @event.similar(:limit => 3).each do |event| %>
            <li>
        <a href="<%=event_url(event)%>">
                  <div class="left">
                    <p class="day"><%=event.from.strftime("%d")%></p>
                    <p class="month"><%=event.from.strftime("%b").upcase%></p>
                  </div>
        </a>
              <div class="right">
                <h6><%= link_to event.title, event_url(event) %></h6>
                <p class="location"><%= event.location %></p>
              </div>
            </li>
          <% end %>
            <li></li>
        </ul>
      </div>
      <% end -%>
      <div class="bottom_white"></div>
    </div>
  </div>
<% end %>

<% content_for :body_content_right do %>
  <div class="body_content_right event_single">
    <%= @page[Page.default_parts.second.to_sym] %>
    <div class="opaque">
      <div class="top"></div>
      <div class="middle">
        <div class="head">
          <h3>Essential data</h3>
          <p><a href="#">add it to your calendar</a></p>
          <span class="line"></span>
        </div>
      </div>
      <div class="middle_map">
        <div class="outer_map margin20top">
          <div id="map"></div>
        </div>
      </div>
      <div class="middle_site">
        <h6>LOCATION</h6>
        <p><%= @event.location %></p>
        <h6>DATE</h6>
        <p><%=@event.from.strftime("%B")%>, <%=@event.from.strftime("#{to_ordinal(@event.from.day)}")%> <%= raw("to #{@event.to.strftime("#{to_ordinal(@event.to.day)}")}") unless @event.one_day_event? %></p>
      </div>
      <div class="bottom"></div>
    </div>

    <div class="opaque margin35top">
      <div class="top"></div>
      <div class="middle">
        <div class="head">
          <h3>Calendar view</h3>
          <p>Browse events by month</p>
          <span class="line"></span>
        </div>

        <div class="calendar"></div>
        <div class="loader">
          <img src="/images/common/activity_indicator.gif" />
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  </div>
<% end %>

<%= render :partial => "/shared/content_page" %>

<%= raw javascript_include_merged :openlayer %>
